.wrapper {
    display: flex;
  }
  .months, .days, .hours, .minutes, .seconds, .microseconds {
    margin: 10px;
  }
  .wrapper2 {
    display: flex;
  }
  .monthsPerc, .daysPerc, .hoursPerc, .minutesPerc, .secondsPerc, .microsecondsPerc {
    margin: 10px;
  }
  .days-val, .hours-val, .minutes-val, .seconds-val, .microseconds-val{
    color: #FFFFFF;
    margin-block-start: 0.5vh;
    margin-block-end: 0.5vh;
    font-size: 2vh;
  }
  .days-val-num, .hours-val-num, .minutes-val-num, .seconds-val-num, .microseconds-val-num{
    color: #FFFFFF;
    margin-block-start: 0.5vh;
    margin-block-end: 0.5vh;
    font-size: 3.5vh;
  }
  
  
  /* progress */
  .progress-wrapper {
    display: flex; 
    top: 24vh;
    position: absolute;
    left: 12vh;
  }
  .progress-wrapper-2 {
    display: flex; 
    top: 41vh;
    position: absolute;
    left: 12vh;
  }
  .progress-wrapper-3 {
    display: flex; 
    top: 58vh;
    position: absolute;
    left: 18.5vh;
  }
  .seconds-progress,.minutes-progress,.hours-progress,.days-progress,.months-progress, .microseconds-progress {
    position: relative;
    height: 110px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }
  .seconds-svg,.minutes-svg,.hours-svg,.days-svg,.months-svg, .microseconds-svg {
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    transform: rotate(-90deg);
  }
  .seconds-perc,.minutes-perc,.hours-perc,.days-perc,.months-perc, .microseconds-perc {
  /*  stroke-dasharray: 339.292; */
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
  }
  h3 {
    position: absolute;
    top: 100%;
  }



  @media(max-width: 280px) {
    .progress-wrapper{
        left: 11vw;
        top: 21vh;
    }
    .progress-wrapper-2{
        left: 11vw;
        top: 42vh;
    }
    .progress-wrapper-3{
        display: none;
    }
    .days-val, .hours-val, .minutes-val, .seconds-val, .microseconds-val{
        margin-block-start: 0.05vh;
        margin-block-end: 0.05vh;
      }
  }

  @media(min-width: 281px) and (max-width: 360px) {
    .progress-wrapper{
        left: 20vw;
        top: 21vh;
    }
    .progress-wrapper-2{
        left: 20vw;
        top: 37vh;
    }
    .progress-wrapper-3{
        left: 36.5vw;
        top: 53vh;
    }
    .days-val, .hours-val, .minutes-val, .seconds-val, .microseconds-val{
        margin-block-start: 0.05vh;
        margin-block-end: 0.05vh;
      }
  }
  @media(min-width: 361px) and (max-width: 375px) {
    .progress-wrapper{
        left: 20vw;
        top: 25vh;
    }
    .progress-wrapper-2{
        left: 20vw;
        top: 44vh;
    }
    .progress-wrapper-3{
        left: 36.5vw;
        top: 62vh;
    }
    .days-val, .hours-val, .minutes-val, .seconds-val, .microseconds-val{
        margin-block-start: 0.05vh;
        margin-block-end: 0.05vh;
      }
  }


  @media (min-width: 376px) and (max-width: 414px){
    .progress-wrapper{
        left: 24vw;
        top: 22.5vh;
    } 
    .progress-wrapper-2{
        left: 24vw;
        top: 38vh;
    }
    .progress-wrapper-3{
        left: 36.5vw;
        top: 53vh;
    } 
  }

  @media (min-width: 541px) and (max-width: 912px){
    .progress-wrapper{
        left: 23vw;
        top: 26.5vh;
    } 
    .progress-wrapper-2{
        left: 23vw;
        top: 41vh;
    }
    .progress-wrapper-3{
        left: 30vw;
        top: 55vh;
    } 
  }